{% extends "dashboard/dashboard.html" %}
{% block title %} Profile {% endblock title %}
{% block dashboard_title %}
{% endblock %}
{% block content %}
<div class="max-w-4xl mx-auto p-6">
    <div class="bg-white shadow-md rounded-lg overflow-hidden">
        <div class="px-6 py-4">
            {% if profile.avatar %}
            <img src="{{ profile.avatar.url }}" alt="Avatar" class="mx-auto block w-32 h-32 rounded-full shadow-lg">
            {% endif %}
            {% if profile.name %}
            <h2 class="text-xl font-semibold mt-4">{{ profile.name }}</h2>
            {% else %}
            <h2 class="text-xl font-semibold mt-4">{{ profile.user.username }}</h2>
            {% endif %}
            {% if profile.email %}
            <p class="mt-2 text-gray-600">Email: {{ profile.email }}</p>
            {% endif %}
            {% if profile.phone_number %}
            <p class="mt-2 text-gray-600">Phone Number: {{ profile.phone_number }}</p>
            {% endif %}
            {% if profile.city %}
            <p class="mt-2 text-gray-600">City: {{ profile.city }}</p>
            {% endif %}
            {% if profile.address %}
            <p class="mt-2 text-gray-600">Address: {{ profile.address }}</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
