{% extends "authentication/base.html" %}
{% load static %}
{% block title %} Login {% endblock title %}

{% block content %}
<form action="." method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="">
        <input type="{{field.field.widget.input_type}}" name="{{ field.name }}" class="" id="{{ field.auto_id }}" placeholder="{{field.label}}" required>
    </div>
    {% endfor %}
    <button type="submit" class="">Login</button>
    <input type="hidden" name="next" value="{{ next }}">
</form>
<hr>
<div class="">
    <a href="{% url 'authentication:password_reset' %}">Forgot Password ?</a>
</div>
{% comment %} <div class="">
    <a href="{% url 'authentication:register' %}">Create New Account</a>
</div> {% endcomment %}
{% endblock content %}
