{% extends "authentication/base.html" %}
{% load static %}
{% block title %}Password Change{% endblock title %}

{% block content %}
<form action="." method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="">
        <input type="{{field.field.widget.input_type}}" name="{{ field.name }}" class="" id="{{ field.auto_id }}" placeholder="{{field.label}}" required>
    </div>
    {% endfor %}
    <button type="submit" class="">Submit</button>
    <input type="hidden" name="next" value="{{ next }}">
</form>
{% endblock content %}
