{% extends "account/account_base.html" %}
{% block title %}پایان بازیابی شناسه عبور{% endblock title %}
{% block form_title %}
<h1 class="h4"> بازیابی شناسه عبور</h1>
{% endblock form_title %}

{% block content %}
<div class="row mx-4">
    <div class="col">
        <div class="alert alert-success">
            <p> درخواست با موفقیت انجام شد، به زودی یک پست الکترونیکی برای شما ارسال میشود.
            </p>
        </div>
        <hr>
        <div class="text-center my-2">
            <a href="{% url 'login' %}">ورود به سامانه</a>
        </div>
    </div>
</div>
{% endblock content %}


{% block form_side_image %}
<img src="https://picsum.photos/id/385/456/300?grayscale" alt="" class="img-fluid h-100">
{% endblock form_side_image %}