{% extends "account/account_base.html" %}
{% block title %}ثبت شناسه عبور جدید{% endblock title %}
{% block form_title %}
<h1 class="h4">ثبت شناسه عبور جدید</h1>
{% endblock form_title %}

{% block content %}
<div class="row mx-4">
    <div class="col">
        {% if validlink %}
        <form action="." method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <input type="{{field.field.widget.input_type}}" name="{{ field.name }}" class="form-control rounded-pill p-4 text-center text-muted" id="{{ field.auto_id }}" placeholder="{% if field.label == 'گذرواژهٔ جدید' %}شناسه عبور جدید{% elif field.label == 'تأیید گذرواژهٔ جدید' %}تایید شناسه عبور جدید{% endif %}" required>
            </div>
            {% endfor %}
            <button type="submit" class="my-5 btn btn-primary btn-block rounded-pill btn-lg">ثبت</button>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
        <hr>
        <div class="text-center my-2">
            <a href="{% url 'login' %}">ورود به سامانه</a>
        </div>
        {% else %}
        <div class="alert alert-danger">
            <p>این لینک قبلا استفاده شده است</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}


{% block form_side_image %}
{% if validlink %}
<img src="https://picsum.photos/id/385/456/574?grayscale" alt="" class="img-fluid h-100">
{% else %}
<img src="https://picsum.photos/id/385/456/300?grayscale" alt="" class="img-fluid h-100">
{% endif %}
{% endblock form_side_image %}