{% extends "authentication/base.html" %}
{% block title %}
{% if validlink %}
Password Reset Confirm
{% else %}
You are wrong!
{% endif %}
{% endblock title %}

{% block content %}
{% if validlink %}
<div class="">
    <div class="">
        <h1 class="">Reset Password</h1>

        <p class="">
            Enter your new password and make sure you will remember this one :)
        </p>

        <form action="." method="post" class="">
            {% csrf_token %}
            {% if form.errors %}
            <div class="">
                <div role="alert" class="">
                    <div class="">
                        <strong class=""> Form Errors </strong>
                    </div>
                    {% if form.non_field_errors %}
                        <p class="">
                            {{ form.non_field_errors }}
                        </p>
                    {% else %}
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <p class="">
                                    {{ error }}
                                </p>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% for field in form %}
            <div class="">
                <label for="{{field.auto_id}}" class="sr-only">{{field.label}}</label>
                <div class="">
                    <input
                        type="{{field.field.widget.input_type}}"
                        name="{{ field.name }}"
                        class=""
                        id="{{ field.auto_id }}"
                        placeholder="{{field.label}}"
                        required
                    />
                </div>
            </div>
            {% endfor %}
            <input type="hidden" name="next" value="{{ next }}">
            <button
                type="submit"
                class=""
            >
            Submit
            </button>
        </form>
    </div>
</div>
{% else %}
<div class="">
    <div class="">
        <h1 class="">Hay!</h1>
        <p class="">
            The link you opened is not active anymore or you entered it wrong!
        </p>
        <div class="">
            <a
                href="{% url "index:index" %}"
                class=""
            >
                OK! lets go home.            
            </a>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}
