{% extends "authentication/base.html" %}
{% block title %}Reset Password Request Done{% endblock title %}

{% block content %}
<div class="">
    <div class="">
        <h1 class="">Email Sent</h1>
        <p class="">
            Reset password link sent. check your inbox or spam folders.
        </p>
        <div class="">
            <a
                href="{% url "index:index" %}"
                class=""
            >
                OK! lets go home.            
            </a>
        </div>
    </div>
</div>
{% endblock content %}
