{% extends "authentication/base.html" %}
{% block title %} Password Chagne Done{% endblock title %}

{% block content %}
<div class="flex flex-col justify-center items-center h-screen">
    <div class="">
        <h1 class="text-center text-2xl font-bold text-teal-600 sm:text-3xl">Passowrd change</h1>
        <p class="mx-auto mt-4 max-w-md text-center text-gray-500">
            Your password changed process was successful. make sure you can remember this new password.
        </p>
        <div class="text-center mt-4">
            <a
                href="{% url "index:index" %}"
                class="rounded-lg bg-teal-600 px-5 py-3 text-sm font-medium text-white"
            >
                OK! lets go home.            
            </a>
        </div>
    </div>
</div>
{% endblock content %}

